<div class="card" id="inscri">
    <div class="container">
        <div class="card-header">
            <h1>Detail de l'apprenant {{apprenant.nom}} {{apprenant.prenom}}</h1>
          </div>
        <div class="card-body">
            <img src="/assets/images/profil.png" alt="" class="img">
            <div class="md-3">
                <label for="exampleFormControlInput1" class="form-label"><b>Nom:</b>  {{apprenant.nom}}</label>
             </div>
              
             <div class="md-3">
                <label for="exampleFormControlInput1" class="form-label"><b>Prénom:</b>  {{apprenant.prenom}}</label>
             </div>
            
             <div class="md-3">
                <label for="exampleFormControlInput1" class="form-label"><b>Genre:</b>  {{apprenant.genre}}</label>
             </div>

            <div class="md-3">
                <label for="exampleFormControlInput1" class="form-label"><b>Login: </b>  {{apprenant.email}}</label>
            </div>    
        </div>
    </div>
    
</div>



