<div class="card" id="inscri">
    <div class="container">
        <div class="card-header">
            <h1>Les information de </h1>
          </div>
        <div class="card-body">
            <img src="/assets/images/profil.png" alt="" class="img">
            <div class="md-3">
                <label for="exampleFormControlInput1" class="form-label">Nom: </label>
             </div>
              
             <div class="md-3">
                <label for="exampleFormControlInput1" class="form-label">Prénom: </label>
             </div>
            
             <div class="md-3">
                <label for="exampleFormControlInput1" class="form-label">Genre: </label>
             </div>

             <div class="md-3">
                <label for="exampleFormControlInput1" class="form-label">Fonction: </label>
            </div>

            <div class="md-3">
                <label for="exampleFormControlInput1" class="form-label">Login: </label>
            </div>    
        </div>
    </div>
    
</div>


