<div class="card" id="inscri">
    <div class="container">
        <div class="card-header">
            <h1>Changer le mot de passe</h1>
          </div>
        <div class="card-body">
            <img src="/assets/images/update.png" alt="" class="img">
            <div class="md-3">
                <label for="exampleFormControlInput1" class="form-label">Ancien mot de passe</label>
                <input type="password" class="form-control" >
              
                <label for="exampleFormControlInput1" class="form-label">Nouveau mot de passe</label>
                <input type="password" class="form-control" >
    
                <label for="exampleFormControlInput1" class="form-label">Confirmer de nouveau</label>
                <input type="password" class="form-control" >
             </div>
          <div class="btn">
            <button type="button" class="btn" id="valider">VALIDER</button>
          </div>
        </div>
    </div>
    
  
</div>

