#valider{
    margin-top: 30px;
    height: 60px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: orange;
}

#inscri{
    margin-top: 15px;
}

h1{
    text-align: center;
}
.img{
    height: 150px;
    width: auto;
    margin: auto;
    display: block;
    margin-bottom: 30px;
}