<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <div class="container-fluid">
    <nav class="navbar navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img href="dashboard" src="/assets/images/odk.png" alt="" width="30" height="30">
        </a>
        <a class="navbar-brand " id="titre" href="dashboard">ORANGE DIGITAL KALANSO</a>
      </div>
     
    </nav>
   
   
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="dashboard">GESTION USERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="jour">POINTAGE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="password">EDIT PASSWORD</a>
        </li>
      </ul>
    
    </div>
  </div>

  <nav class="navbar navbar-light">
    <div class="container-fluid ">
      <a class="navbar-brand text-light " href="profil">
        <img href="profil" src="/assets/images/profil.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
        Profil
      </a> 
    </div>
  </nav>
  <nav class="navbar navbar-light">
    <div class="container-fluid ">
      <button type="button" class="btn btn-danger">Deconnexion</button>
    </div>
  </nav>
</nav>

<router-outlet></router-outlet>
