<div class="card" id="inscri">
    <div class="container">
        <div class="card-header">
            <h1>Detail du formateur {{formateur.nom}} {{formateur.prenom}}</h1>
          </div>
        <div class="card-body">
            <img src="/assets/images/profil.png" alt="" class="img">
            <div class="md-3">
                <label for="exampleFormControlInput1" class="form-label"><b>Nom:</b>  {{formateur.nom_f}}</label>
             </div>
              
             <div class="md-3">
                <label for="exampleFormControlInput1" class="form-label"><b>Prénom:</b>  {{formateur.prenom_f}}</label>
             </div>
            
             <div class="md-3">
                <label for="exampleFormControlInput1" class="form-label"><b>Genre: </b> {{formateur.genre_f}}</label>
             </div>

            <div class="md-3">
                <label for="exampleFormControlInput1" class="form-label"><b>Login: </b>  {{formateur.email_f}}</label>
            </div>    
        </div>
    </div>
    
</div>




